<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Result</h1>
	<span th:utext="${nhiemvu.getTen()}"></span>
	<span th:utext="${nhiemvu.getNoidung()}"></span>
	<span th:utext="${nhiemvu.getTrangthai()}"></span>
	<span th:utext="${nhiemvu.getNgaytao()}"></span>
	<span th:utext="${nhiemvu.getHannop()}"></span>
	<span th:utext="${nhiemvu.getFilehd()}"></span>
	<span th:utext="${nhiemvu.getFilebt()}"></span>

</body>
</html>