<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	RESULT
	<div th:each=" listsvhd : ${listsinhvienhuongdan}">
		<a th:href="@{|/trangchu_giangvien/sinhvien/${listsvhd.idSv}|}"> <span
			th:utext="${listsvhd.getTenSv() }"> </span></a> <span
			th:utext="${listsvhd.getMssv()}"></span> <span
			th:utext="${listsvhd.getSoDienThoaiSv()}"></span> <span
			th:utext="${listsvhd.getEmailSv()}"></span> <a
			th:href="@{|/trangchu_giangvien/detai/${listsvhd.idDeTai}|}"> <span
			th:utext="${listsvhd.getTenDeTai() }"> </span>
		</a> <a
			th:href="@{|/trangchu_giangvien/sinhvien/baitap/${listsvhd.idDeTai}|}">Danh
			sach bai tap</a>
	</div>


</body>
</html>