<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	RESULT
	<div th:each=" listnhiemvu : ${listnhiemvu}">
		<span th:utext="${listnhiemvu.getTenSinhVien()}"></span> <span
			th:utext="${listnhiemvu.getTrangThai()}"></span> <span
			th:utext="${listnhiemvu.getNgayTao()}"></span> <span
			th:utext="${listnhiemvu.getHanNop()}"></span> <span
			th:utext="${listnhiemvu.getTenDeTai()}"></span> <a
			th:href="@{|/trangchu_giangvien/nhiemvu/${listnhiemvu.idNhiemVu}|}">Chi
			tiet</a>
	</div>


</body>
</html>