<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	RESULT
	<div th:each=" listbt : ${listbaitap}">
		<span th:utext="${listbt.getTenNhiemVu()}"></span> <span
			th:utext="${listbt.getFileHuongDan()}"></span> <span
			th:utext="${listbt.getTenSinhVien()}"></span> <span
			th:utext="${listbt.getNgayTao()}"></span> <span
			th:utext="${listbt.getTenSinhVien()}"></span> <a
			th:href="@{|/trangchu_giangvien/baitap/${listbt.idNhiemVu}|}">Chi
			tiet</a>
	</div>


</body>
</html>