<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	RESULT
	<div th:each=" sinhvien : ${sinhvien}">
		<span th:utext="${sinhvien.getTenSinhVien()}"></span> <span
			th:utext="${sinhvien.getTenDeTai()}"></span> <span
			th:utext="${thongke}"></span>
	</div>

	<div th:each=" list : ${listdanhgiahoanthanhsv}">
		<span th:utext="${list.getTenNhiemVu()}"></span> <span
			th:utext="${list.getNgayTao()}"></span> <span
			th:utext="${list.getHanNop()}"></span> <span
			th:utext="${list.getTrangThai()}"></span> <span
			th:utext="${list.getTenSinhVien()}"></span> <a
			th:href="@{|/trangchu_giangvien/danhgia/${list.idDanhGia}|}">Chi
			tiet</a>
	</div>


</body>
</html>