<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


	<form th:action="@{/trangchu_giangvien/danhgia}" th:object="${danhgia}"
		method="post">
		<p>
			Ten danh gia: <input type="text" th:field="*{tenDanhGia}" />
		</p>
		<p>
			Bai tap duoc danh gia : <select th:field="*{idNhiemVu}">
				<option th:each="listnhiemvu : ${listnhiemvu}"
					th:value="${listnhiemvu.id}" th:text="${listnhiemvu.ten}"></option>
			</select>
		</p>
		<p>
			Noi dung: <input type="text" th:field="*{noiDung}" />
		</p>
		<p>
			Tieu chi 1: <select th:field="*{tieuChi1}">
				<option value="3">Yeu</option>
				<option value="5">Trung binh</option>
				<option value="7">Kha</option>
				<option value="9">Tot</option>
			</select>
		</p>
		<p>
			Tieu chi 2: <select th:field="*{tieuChi2}">
				<option value="3">Yeu</option>
				<option value="5">Trung binh</option>
				<option value="7">Kha</option>
				<option value="9">Tot</option>
			</select>
		</p>
		<p>
			Tieu chi 2: <select th:field="*{tieuChi3}">
				<option value="3">Yeu</option>
				<option value="5">Trung binh</option>
				<option value="7">Kha</option>
				<option value="9">Tot</option>
			</select>
		</p>
		<p>
			File: <input type="text" th:field="*{file}" />
		</p>
		<p>
			<button type="submit" class="btn btn-success">Add</button>
		</p>
	</form>


</body>
</html>