<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:each=" sv : ${listsinhvien}">
		<span th:utext="${sv.getTenDeTai() }"></span> <span
			th:utext="${sv.getEmailSv()}"></span> <span th:utext="${sv.getMssv()}"></span>
		<span th:utext="${sv.getTenGv()}"></span> <span
			th:utext="${sv.getTenSv()}"></span>
			<a
			th:href="@{|/trangchu_quanly/sinhvien/${sv.getIdSv()}|}"> Chi tiet</a>
	</div>

	</div>
	<a th:href="@{|/addtaikhoan/|}"> Add </a>
	</div>

</body>
</html>