<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/trangchu_quanly/addgiangvien}" th:object="${giangvien}"
		method="post">
		
		<p>
			ten: <input type="text" th:field="*{ten}" />
		</p>
		<p>
			sodienthoai: <input type="text" th:field="*{sodienthoai}" />
		</p>
		<p>
			sodienthoai: <input type="date" th:field="*{namsinh}" />
		</p>
		
		<!-- <p>
			Ten: <input type="text" th:field="*{ten}" />
		</p>
		<p>
			SDT: <input type="tel" th:field="*{sodienthoai}" />
		</p>
		<p>
			Nam sinh: <input type="text" th:field="*{namsinh}" />
		</p> -->
		<p>
			<button type="submit" class="btn btn-success">Add</button>
		</p>
	</form>
</body>
</html>