<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/trangchu_quanly/taikhoan}" th:object="${taikhoan}"
		method="post">
		
		<p>
			Email: <input type="email" th:field="*{email}" />
		</p>
		<p>
			password: <input type="password" th:field="*{password}" />
		</p>
		<p>
			Role: <select th:field="*{role}">
				<option value="ROLE_SINH_VIEN">Sinh Vien</option>
				<option value="ROLE_GIANG_VIEN">Giang Vien</option>
			</select>
		</p>
		<p>
			Ten: <input type="text" th:field="*{ten}" />
		</p>
		<p>
			SDT: <input type="tel" th:field="*{sodienthoai}" />
		</p>
		<p>
			Nam sinh: <input type="date" th:field="*{namsinh}" />
		</p>
		<p>
			<button type="submit" class="btn btn-success">Add</button>
		</p>
	</form>
</body>
</html>